body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}
.form-container {
    width: 350px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
h2 {
    text-align: center;
}
label {
    margin-top: 10px;
    display: block;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
